$color-border: #e1e1e1;

.val-input {
  --background: #fff;
  margin-bottom: 8px;
  border: 1px solid $color-border;
  border-radius: 5px;

  &.no-margin {
    margin-bottom: 0;
  }

  ion-label {
    opacity: 0.5;

    &.flex-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 1;

      .name {
        color: #000;
        flex: 1;
        opacity: 0.5;
      }

      .choice {
        color: #000;
        opacity: 1;
      }
    }
  }

  &.item-has-focus {
    ion-label {
      opacity: 1;
    }
  }

  &.ios {
    ion-label {
      opacity: 1;

      .name {
        opacity: 1;
      }
    }

    &.item-has-focus {
      ion-label {
        color: var(--ion-color-primary);
      }
    }
  }
}
