<section class="container">
	<p class="ion-margin-bottom title">
		{{ "page-auth.resetPasswordModal.title" | translate }}
	</p>

	<p class="ion-margin-bottom">
		{{ "page-auth.resetPasswordModal.message" | translate }}
	</p>

	<ion-item class="val-input" lines="none">
		<ion-label position="floating">{{"page-auth.resetPasswordModal.phEmail" | translate}}</ion-label>
		<ion-input type="email" inputmode="email" [(ngModel)]="email"></ion-input>
	</ion-item>

	<ion-button
			expand="block"
			color="primary"
			(click)="onResetPasswordClick()"
	>
		{{"page-auth.resetPasswordModal.btn" | translate}}
	</ion-button>

	<div class="close ion-margin-top">
		<span (click)="onClose()">{{"common.alerts.btn-close" | translate}}</span>
	</div>
</section>
