<section class="container">
	<p class="ion-margin-bottom">
		{{ "page-new-obs.modal-call.first-text." + contact.type | translate }}
	</p>

	<div class="link" *ngIf="contact.type === 'phone'">
		<a (click)="onPhoneClick(contact.contact)">{{ contact.contact }}</a>
	</div>

	<div class="link" *ngIf="contact.type === 'site'">
		<a (click)="onUrlClick(contact.contact)">{{ contact.contact }}</a>
	</div>

	<p class="ion-margin-top" [innerHTML]="'page-new-obs.modal-call.second-text' | translate"></p>

	<p class="code ion-margin-top">{{ callId }}</p>

	<p class="ion-margin-top" *ngIf="contact.instructions">{{ contact.instructions }}</p>

	<div class="close ion-margin-top">
		<span (click)="onClose()">{{"page-new-obs.modal-call.btn-close" | translate}}</span>
	</div>
</section>
