@import '../../../theme/variables';

.container {
  padding: 16px 16px 6px;

  .title { font-weight: bold; }

  .close {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    span {
      font-size: 14px;
      color: $text-secondary;
      text-transform: uppercase;
      padding: 12px;
    }
  }
}
